/node_modules
/storage/*.key
/vendor
/.idea

.envrc
.env
.env.*
!.env.*.example

/.vagrant
_ide_helper.php
.phpstorm.meta.php

/public/storage
/public/js
/public/css
/public/img
/public/mix-manifest.json

composer.phar
.phpunit.result.cache
.phpunit.cache/

.devbox
devbox.d
devbox.json
devbox.lock

process-compose.yml
