/node_modules
/storage/*.key
/vendor

.idea
/.ai
/.vscode
/.junie

.env
.env.*
!.env.example
!.env.*.example

.phpstorm.meta.php
.phpunit.result.cache
/.phpunit.cache
/.vagrant
/public/css
/public/img
/public/js
/public/mix-manifest.json
_ide_helper.php
composer.phar
public/storage
.devbox
devbox.d
devbox.json
devbox.lock
process-compose.yml
